:root {
  --text: white;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-1000: #030712;
  --border-stroke: #374151;
  --accent-blue: rgb(191, 238, 247);
  --accent-blue-active-bg: #1e40af;
  --accent-blue-active: #bfdbfe;
  --accent-blue-headers: #60a5fa;
  --accent-green: rgb(188, 238, 201);

  --midnight-blue: rgb(30, 58, 138);
  --blue-30: #93c5fd;

  --accent-red: #ef4444;

  --background: var(--gray-800);
  --color: var(--text);

  scrollbar-color: var(--gray-500) var(--gray-800);
  scrollbar-width: thin;

  --font-family: "Space Mono", monospace;

  /* Neutral colors - Brighter version */
  --Neutral-00: #000;
  --Neutral-5: #1e293b;
  --Neutral-10: #334155;
  --Neutral-15: #475569;
  --Neutral-20: #64748b;
  --Neutral-30: #94a3b8;
  --Neutral-50: #cbd5e1;
  --Neutral-60: #e2e8f0;
  --Neutral-80: #f1f5f9;
  --Neutral-90: #f8fafc;

  --Green-500: #22c55e;
  --Green-700: #15803d;

  --Blue-400: #60a5fa;
  --Blue-500: #3b82f6;
  --Blue-800: #1e40af;

  --Red-400: #f87171;
  --Red-500: #ef4444;
  --Red-600: #dc2626;
  --Red-700: #b91c1c;
}

body {
  font-family: "Space Mono", monospace;
  background: var(--Neutral-30);
}

.material-symbols-outlined {
  &.filled {
    font-variation-settings:
      "FILL" 1,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.h-screen-full {
  height: 100vh;
}

.w-screen-full {
  width: 100vw;
}

.flex-col {
  flex-direction: column;
}

.streaming-console {
  background: var(--Neutral-15);
  color: var(--Neutral-80);
  display: flex;
  height: 100vh;
  width: 100vw;

  a,
  a:visited,
  a:active {
    color: var(--Neutral-60);
  }

  .disabled {
    pointer-events: none;

    > * {
      pointer-events: none;
    }
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
    max-width: 100%;
    overflow: hidden;
  }

  .main-app-area {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    gap: 2rem;
  }

  .function-call {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    overflow-y: auto;
  }
}

/* video player */
.stream {
  flex-grow: 1;
  max-width: 90%;
  border-radius: 32px;
  max-height: fit-content;
}